/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
   url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
   url("../fonts/PTSans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-search-blue: #81B3D2;
  --background-light-gray: #EEEEEE;
  --link-brown: #766357;
  --form-link-gray: #F2F2F2;
  --blocked-checkbox: #6A6A6A;
  --scroll-button-light: #CACACA;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --plus-minus-brown: #A9A9A9;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --form-hover-gray: #EBEBEB;
  --form-active-gray: #E5E5E5;
  --html-logo-link: #231F20;
  --html-logo-active: #BDBBBC;
  --rating-text-color: #666666;
  --range-button: #ABABAB;
  --background-color: #888888;
  --rgb-transparent-text: 255,255,255;
  --rgb-transparent-black: 0,0,0;
}

/*Global*/

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Hidden */

.about-us-title {
 display: none;
}

.footer-title-block {
  display: none;
}

.hidden-block {
  display: none;
}

.features-block {
  display: none;
}

/*Grid*/

.page {
  height: 100%;
}


/* Main navigation */

.main-body {
display: grid;
grid-template-rows: auto auto 1fr;
min-height: 100vh;
outline: 5px solid red;
outline-offset: -5px;
}

.main-header {
  background-color: var(--basic-white);
  outline: 5px solid red;
  outline-offset: -5px;
}

.main-navigation {
  color: var(--basic-black);
  display: grid;
  grid-template-columns: repeat(6, auto);
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.site-navigation {
  list-style: none;
}

/* Logo */

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto;
  padding: 15px 72px;

}

.main-header-logo {
  outline: 5px solid blue;
  outline-offset: -5px;
  justify-self: center;
  width: 138px;
  height: 70px;
}

/* User navigation*/

.site-navigation {
  color: var(--basic-black);
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: var(--basic-search-blue);
}

.site-navigation a:focus {
  color: rgba(var(--rgb-transparent-black),0.3);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

.sorting-container {
  width: 1200px;
  margin: 0 auto;
}

.sorting-section {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  outline: 5px solid red;
  outline-offset: -5px;

}

.sorting-title {
  margin-right: 46px;
}

.sorting {
  margin-right: 40px;
}

.scroll-block {
  margin-right: 73px;
  margin-left: 503px;
}

.main-body-container {
  width: 1200px;
  margin: 0 auto;
}

.about-sedona-block {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-bottom: 16px;
}

.features-desc {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-bottom: 51px;
}

/* Features */

.features {
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid green;
  outline-offset: -5px;
}

.features-container-1 {
  display: grid;
  grid-template-columns: auto 1fr;
  outline: 5px solid blue;
  outline-offset: -5px;
}

.features-container-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  outline: 5px solid blue;
  outline-offset: -5px;
}

.features-container-blocks {
  display: grid;
  grid-template-columns: repeat(3, auto);
  outline: 5px solid blue;
  outline-offset: -5px;
}

.feature-container-list {
  list-style: none;
}

.blue,
.feature-item {
text-align: center;
line-height: 21px;
font-weight: 400;
}

.blue h3,
.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-desc {
  color: var(--basic-gray);
  font-weight: 400;
  text-align: center;
}

/*Background colors*/

.blue {
  background-color: var(--basic-search-blue);
}

.grey-section {
  background-color: var(--background-light-gray);
}

.about-us,
.modal-title {
  font-size: 21px;
  text-align: center;
}

.open-range-pub,
.bridge-photo {
  background-color: var(--plus-minus-brown);
}


/* Button */

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: center;
  text-transform: uppercase;
  border: none;
}

.html-button {
  color: var(--html-logo-link);
}

.html-button:hover {
  color: var(--basic-search-blue);
}

.html-button:focus {
  color: var(--html-logo-active);
}

.search-button {
font-size: 21px;
background-color: var(--basic-search-blue);
}

.search-button:hover {
  background-color: var(--hover-blue);
}

.search-button:focus {
  background-color: var(--active-blue);
  color: rgba(var(--rgb-transparent-text),0.3);
}

.show-button {
  color: var(--basic-black);
  border-width: 2px;
  border-color: var(--basic-white);
  border-style: solid;
  background-color: transparent;
  font-weight: 400;
}

.price-sort {
  color: var(--basic-search-blue);
  border: none;
  border-bottom: 1px dotted var(--basic-search-blue);
}

.type-sort,
.rating-sort {
  color: rgba(var(--rgb-transparent-black),0.3);
  border: none;
  border-bottom: 1px dotted var(--basic-search-blue);
}


.price-sort:focus {
  color: var(--basic-search-blue);
}

.type-sort:hover,
.rating-sort:hover {
  color: var(--basic-search-blue);
}

.type-sort:focus,
.rating-sort:focus {
  color: var(--basic-black);
}


/* Hotel form*/

.hotel-search {
  width: 273px;
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-bottom: 4px;
  margin-right: 457px;
  margin-left: 446px;
}

.hotel-search-description {
  width: 435px;
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-bottom: 24px;
  margin-right: 382px;
  margin-left: 383px;

}
.hotel-search,
.hotel-search-description {
  text-align: center;
}

.hotel-search-description {
  font-weight: 400;
}

.hotel-search-item {
  text-align: center;
}

.hotel-search-item input {
  font: inherit;
  line-height: 18,12px;
  background-color: var(--form-link-gray);
  border: none;
  outline: none;
}

.hotel-search-item input:hover {
  background-color: var(--form-hover-gray);
}

.hotel-search-item input:focus {
  background-color: var(--basic-white);
  border-width: 2px;
  border-style: solid;
  border-color: var(--form-active-gray);
}

/* Filter */

.filter {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../img/blurred-background.jpg");
  background-repeat: no-repeat;
}

.filter-container {
outline: 5px solid green;
outline-offset: -5px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
/*column-gap: 120px;*/
}

.infrastructure-filter {
  outline: 5px solid blue;
  outline-offset: -5px;
  text-align: center;
}

.housing-filter {
  outline: 5px solid blue;
  outline-offset: -5px;
  text-align: center;
}

.cost-filter {
  outline: 5px solid blue;
  outline-offset: -5px;
  text-align: center;
}

.filter {
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-title,
.filter-range-title {
  font-size: 16px;
}

.filter-item {
  font-weight: 400;
}

.price-controls {
  font-weight: 400;
}

/* Sorting */

.sorting {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  background-color: var(--basic-white);
}

.sorting-section ul {
  list-style: none;
}
.sorting-title {
  font-size: 21px;
  color: var(--basic-black);
  text-align: center;
  margin-left: 73px;
}

/* Hotel choices*/

.hotels {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 1200px;

}

.hotels-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  outline: 5px solid red;
  outline-offset: -5px;
}

.hotels-container-1 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.hotels-container-2 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.hotels-container-3 {
  display: grid;
  grid-template-columns: auto auto 1fr;
  outline: 5px solid green;
  outline-offset: -5px;
  margin: 0;
  padding: 0;
}

.image-amara {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.text-amara {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-top: 24px;
  margin-bottom: 33px;
  margin-right: 560px;
}

.amara-text-block {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.rating-amara {
 outline: 5px solid pink;
 outline-offset: -5px;
 margin-right: 70px;
 margin-top: 30px;
 margin-bottom: 33px;
}

.image-quail {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.text-quail {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-right: 625px;
}

.rating-quail {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-top: 28px;
  margin-bottom: 30px;
  margin-right: 70px;
}

.hotel-name {
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.hotel-rating {
  padding: 0;
  margin: 0;
}

.image-diablo {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-diablo {
  outline: 5px solid pink;
  outline-offset: -5px;
  margin: 24px 503px 30px 29px;
}

.rating-diablo {
outline: 5px solid pink;
outline-offset: -5px;
margin: 29px 70px 30px 0;
}

.star-block {
  box-sizing: border-box;
  margin-bottom: 47px;
}

.hotel-list-a {
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-list a:hover {
  color: var(--basic-search-blue);
}

.hotel-list a:focus {
  color: rgba(var(--rgb-transparent-black),0.3);
}

.hotels p {
  line-height: 21px;
  font-weight: 400;
}

.hotels li {
  list-style: none;
}

.details-button {
  background-color: var(--basic-search-blue);
  color: var(--basic-white);
}

.reservation-button {
  background-color: var(--link-brown);
  color: var(--basic-white);
}

.details-button:hover {
  background-color: var(--hover-blue);
}

.details-button:focus {
  background-color: var(--active-blue);
  color: rgba(var(--rgb-transparent-text),0.3);
}

.reservation-button:hover{
  background-color: var(--hover-brown);
}

.reservation-button:focus {
  background-color:var(--active-brown);
  color: rgba(var(--rgb-transparent-text),0.3);
}

.hotel-rating {
  color: var(--rating-text-color);
  background-color: var(--form-link-gray);
  font-weight: 400;
}

.hotel-type,
.hotel-price {
  color: var(--basic-gray);
}
/* Main footer*/

.main-footer {
  padding: 36px 0;
  color: var(--basic-black);
  background-color: var(--footer-background);
  outline: 5px solid red;
  outline-offset: -5px;
}

.main-footer .container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-size: 21px;
  text-align: center;
  margin-left: 73px;
  outline: 5px solid blue;
  outline-offset: -5px;
}

.footer-tag {
  width: 166px;
  margin-bottom: 9px;
}

.footer-phone {
  width: 251px;
  margin-bottom: 36px;
}

.footer-social {
  text-align: center;
  background-color:var(--basic-white);
  opacity: 0.9;
  outline: 5px solid blue;
  outline-offset: -5px;
  width: 150px;
  justify-self: center;
}

.footer-copyright {
  text-align: center;
  font-weight: 400;
  max-width: 197px;
  margin-right: 138px;
  justify-self: end;
  outline: 5px solid blue;
  outline-offset: 5px;
}

.footer-social ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

/* Social button*/

.social-button {
  background-color: var(--basic-search-blue);
  color: var(--basic-white);
}

.social-button:hover {
background-color: var(--hover-blue);
}

.social-button:focus {
  background-color: var(--active-blue);
  color: rgba(var(--rgb-transparent-text),0.3);
}

.footer-copyright {
color: inherit;
}

/* Modal */

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-title-wrap {
  color: var(--basic-white);
  background-color: var(--link-brown);
}

.modal-title-wrap:hover {
  background-color: var(--hover-brown);
}

.modal-title-wrap:focus {
  background-color: var(--active-brown);
  color: rgba(var(--rgb-transparent-text),0.3);
}
