/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
   url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
   url("../fonts/PTSans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Variables*/

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-search-blue: #81B3D2;
  --background-light-gray: #EEEEEE;
  --link-brown: #766357;
  --form-link-gray: #F2F2F2;
  --blocked-checkbox: #6A6A6A;
  --scroll-button-light: #CACACA;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --plus-minus-brown: #A9A9A9;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --form-hover-gray: #EBEBEB;
  --form-active-gray: #E5E5E5;
  --html-logo-link: #231F20;
  --html-logo-active: #BDBBBC;
  --rating-text-color: #666666;
  --range-button: #ABABAB;
  --background-color: #888888;
  --visited-link-nav: #766357;
  --rgb-transparent-text: 255,255,255;
  --rgb-transparent-black: 0,0,0;
}

/*Global*/

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.list-offset {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Grid*/

.page {
  height: 100%;
}

/* Main navigation */

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  color: var(--basic-black);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 15px 72px 15px 72px;
  box-sizing: border-box;
}

/* Logo */

.main-header-logo {

  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1;
  object-fit: contain;
}

/* User navigation*/

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation li {
  margin-right: 134px;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 418px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  margin-right: 147px;
  text-align: right;
}

.site-navigation li:last-child {
  margin-right: 0;
  text-align: right
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-search-blue);
}

.site-navigation a:active {
  color: rgba(0,0,0,0.3);
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

.sorting-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  align-items: center;
  box-sizing: border-box;
}

.sort-top {
  padding-right: 5px;
}

.sort-subtitle {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.price-sort {
  margin-left: 30px;
}

.sort-top:link path,
.sort-bottom:link path {
  fill: var(--scroll-button-light);
}

.sort-top:hover path,
.sort-bottom:hover path{
  fill: var(--basic-black);
}
.sort-top:active path,
.sort-bottom:active path {
  fill: var(--basic-search-blue);
}

.price-sort,
.type-sort {
  min-width: 49px;
}
.rating-sort {
  min-width: 74px;
}

.sorting li:nth-child(1) {
  margin-left: 40px;
}

.scroll-block {
  margin-left: auto;
  margin-right: 73px;

}

.main-body-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona-container-1 {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}

.about-us {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 470px;

}

.features-desc {
  margin: 0;
  padding: 0;
  padding-bottom: 51px;
  box-sizing: border-box;
  width: 519px;
  margin-top: 45px;
  color: var(--basic-gray);
  font-weight: 400;
  text-align: center;
}

/* Features */

.features {
  width: 1200px;
  margin: 0 auto;
}

.features-container-1 {
  display: flex;
  padding: 0;
  margin: 0;
  height: 256px;
}

.feature-item h3 {
  padding: 0;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.feature-item .h-3 {
  margin:0;
  padding: 0;
  margin-bottom: 15px;
  padding-top: 10px;
}

.blue {
  margin-right: auto;
  width: 400px;
  color: var(--basic-white);
}

.number {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.blue h3 {
  margin: 0;
  padding:0;
  padding-top: 45px;
  margin-bottom: 30px;
}

.number-1 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.tourist-attraction {
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
  width: 297px;
  margin-left: 52px;
}

.open-range-pub {
  padding: 0;
  margin: 0;
  margin-left: auto;
  object-fit: contain;
}

.features-container-2 {
  display: flex;
  margin: 0;
  padding: 0;
  height: 256px;
}

.bridge-photo {
  width: 800px;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.blue-bridge {
  width: 400px;
}

.paragraph {
  padding: 0;
  margin: 0;
}

.features-container-blocks {
  display: grid;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.block-white {
  height: 330px;
}

.item-food {
  width: 297px;
  padding-top: 45px;
  padding-bottom: 82px;
  padding-right: 118px;
}

.feature-container-list {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.item-housing {
  width: 254px;
  padding-right: 124px;
  padding-left: 73px;
  padding-top: 45px;
  padding-bottom: 82px;
}

.item-live,
.item-order,
.item-produce {
  margin-top: 25px;
}

.item-souvenirs {
  width: 269px;
  padding-left: auto;
  padding-right: 65px;
  padding-top: 40px;
  padding-bottom: 81px;
}

.item-area {
width: 207px;
padding-left: 96px;
padding-right: 168px;
padding-top: 47px;
padding-bottom: 54px;
}

.item-area h3 {
margin: 0;
padding:0;
margin-bottom: 25px;
}

.item-road {
width: 258px;
padding-right: 148px;
padding-top: 47px;
padding-bottom: 54px;
text-align: center;
}

.item-tourists h3 {
  width: 98px;
  margin: 0;
  padding: 0;
  padding-left: 75px;
  margin-bottom: 25px;
}

.item-road h3 {
  width: 99px;
  margin: 0;
  padding:0;
  padding-left: 80px;
  margin-bottom: 25px;
}

.item-road p,
.item-area p,
.item-tourists p {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.item-tourists {
width: 246px;
padding-right: 77px;
padding-top: 47px;
padding-bottom: 54px;

}

.blue,
.feature-item {
text-align: center;
line-height: 21px;
font-weight: 400;
}

.blue h3,
.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

/*Background colors*/

.blue {
  background-color: var(--basic-search-blue);
}

.grey-section {
  background-color: var(--background-light-gray);
}

.about-us,
.modal-title {
  font-size: 21px;
  text-align: center;
  padding-top: 8px;
}

/* Button */

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: center;
  text-transform: uppercase;
  border: none;
}

.html-button:link path {
  fill: var(--html-logo-link);
}

.html-button:hover path {
  fill: var(--basic-search-blue);
}

.html-button:active path {
  fill: var(--html-logo-active);
}

.search-button {
font-size: 21px;
background-color: var(--basic-search-blue);
}

.search-button:hover {
  background-color: var(--hover-blue);
}

.search-button:active {
  background-color: var(--active-blue);
  color: rgba(255,255,255,0.3);
}

.type-sort,
.rating-sort,
.price-sort {
  color: rgba(0,0,0,0.3);
  border: none;
  border-bottom: 1px dotted var(--basic-search-blue);
}

.type-sort:hover,
.rating-sort:hover,
.price-sort:hover {
  color: var(--basic-search-blue);
  border: none;
  border-bottom: 1px dotted var(--basic-search-blue);
}

.type-sort:active,
.rating-sort:active,
.price-sort:active {
  border: none;
  color: var(--basic-black);
}

.type-sort:visited,
.rating-sort:visited,
.price-sort:visited {
  border: none;
  color: var(--basic-search-blue);
}

/* Hotel form*/

.more-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.hotel-search {
  width: 273px;
  margin:0;
  padding:0;
  margin-bottom: 8px;
  padding-right: 457px;
  padding-left: 425px;
  padding-top: 55px;
  font-size: 30px;
  text-align: center;
}

.hotel-search-description {
  width: 435px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-right: 382px;
  padding-left: 383px;
  margin-top: 25px;
  padding-bottom: 110px;
  text-align: center;
}

.hotel-search-item {
  text-align: center;
}

.hotel-search-item input {
  font: inherit;
  line-height: 18px;
  background-color: var(--form-link-gray);
  width: 346px;
  height: 38px;
  border: none;
  outline: none;
  position: relative;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.calendar {
  position: absolute;
  top: 145px;
  left: 475px;
  outline: none;
  border: none;
  fill: var(--plus-minus-brown);
  background: transparent;
}
.calendar-2 {
  position: absolute;
  top: 212px;
  left: 475px;
  outline: none;
  border: none;
  fill: var(--plus-minus-brown);
  background: transparent;
}

.calendar:hover path,
.calendar-2:hover path {
  fill: var(--basic-black);
}

.calendar:active path,
.calendar-2:active path {
  fill: var(--basic-search-blue);
}

.booking-input {
 text-transform: uppercase;
 padding-left: 13px;
}

input[type="text"] {
  color: var(--basic-black);
}

input[type="text"]::-moz-placeholder {
  color: var(--basic-black);
}

input[type="text"]::-webkit-input-placeholder {
  color: var(--basic-black);
}

.hotel-search-item input:hover {
  background-color: var(--form-hover-gray);
}

.hotel-search-item input:focus {
  background-color: var(--basic-white);
  border-width: 2px;
  border-style: solid;
  border-color: var(--form-active-gray);
}

/* Filter */

.filter {
  width: 1200px;
  min-height: 217px;
  margin: 0 auto;
  background-image: url("../img/blurred-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  line-height: 21px;
  text-align: center;
  box-sizing: border-box;
  color: var(--basic-black);
}

.filter-container {
display: flex;
margin: 0;
padding: 0;
padding: 27px 73px 0px 72px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:first-child {
  padding: 0;
  margin: 0;
}

.filter fieldset:nth-child(2) {
  padding: 0;
  margin: 0;
}

.infrastructure-filter {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  min-height: 120px;
  width: 140px;
}

.housing-filter {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 136px;
  margin-left: 120px;
}


.filter-item input {
  margin-right: 13px;
}

.filter-title {
  margin-bottom: 24px;
}

.filter-list {
 padding: 0;
 margin: 0;
line-height: 21px;
}

.filter-item {
  margin-bottom: 23px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;

}

.filter-item label {
  position: relative;
  display: block;
}

.filter-input-checkbox + label {
  padding-left: 40px;
  cursor: pointer;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content:"";
  position: absolute;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}

.filter-input-checkbox:not(:checked) + label::after {
  opacity: 0;
}

.filter-input-checkbox:checked + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::after,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.6;
}

.hotel-check,
.motel-check,
.apt-check,
.pool-check,
.park-check,
.wifi-check {
  margin: 0;
  padding: 0;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-title,
.filter-range-title {
  font-size: 16px;
}

.filter-form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding:0;
  color: var(--basic-white);
}

/*Filter-range*/

.filter-range {
  width: 330px;
  margin: 0;
  padding: 0;
  margin-left: 340px;
  text-align: left;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-weight: 400;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
}

.show-button:hover {
  color: #000000;
  background: var(--basic-white);
}

/* Sorting */

.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-right: 32px;
  align-items: center;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  background-color: var(--basic-white);
  cursor: pointer;
}

.sorting-section ul {
  list-style: none;
}
.sorting-title {
  font-size: 21px;
  color: var(--basic-black);
  text-align: center;
  margin-left: 73px;
  margin-right: 46px;
  min-width: 117px;
}

/* Hotel choices*/

.hotels {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 1200px;

}

.hotel-list {
  padding: 0;
  margin: 0;
}

.hotels-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
}


.hotels-container-1 {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  border-top: 1px solid var(--form-active-gray);
  box-sizing: border-box;
  width: 1200px;
}

.hotels-container-2 {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 1200px;
  border-top: 1px solid var(--form-active-gray);
}

.hotels-container-3 {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 1200px;
  border-top: 1px solid var(--form-active-gray);
  border-bottom: 1px solid var(--form-active-gray);
}

.image-amara {
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 135px;
  object-fit: contain;
}

.text-amara {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.type-one {
  margin-right: 37px;
}

.hotel-4000 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-set {
  display: flex;
}

.rating-amara {
 margin-right: 72px;
 margin-top: 30px;
 margin-bottom: 33px;
 width: 110px;
}

.image-quail {
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 135px;
  object-fit: contain;
}

.motel-3000 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.type-two {
  margin-right: 64px;
}

.button-set-2 {
  display: flex;
}

.text-quail {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: auto;
}

.rating-quail {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 72px;
  width: 110px;
}

.hotel-name {
  font-size: 21px;
  padding: 0;
  margin: 0;
  text-align: start;
}

.hotel-rating {
  padding: 0;
  margin: 0;
}

.image-diablo {
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 29px;
  object-fit: contain;
}

.text-diablo {
  margin-bottom: 30px;
  margin-right: auto;
  margin-top: 15px;
}

.apartment-2000 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.type-three {
  margin-right: 22px;
}

.rating-diablo {
margin: 20px 72px 30px 0;
width: 110px;
}

.star-block {
  box-sizing: border-box;
  margin-bottom: 47px;
  text-align: end;
  margin-top: 0;
}

.hotel-list a {
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-list a:hover {
  color: var(--basic-search-blue);
}

.hotel-list a:active {
  color: rgba(0,0,0,0.3);
}

.hotels p {
  line-height: 21px;
  font-weight: 400;
}

.hotels li {
  list-style: none;
}

.details-button {
  background-color: var(--basic-search-blue);
  color: var(--basic-white);
  margin-right: 6px;
  display: inline-block;
  width: 110px;
  height: 27px;
  cursor: pointer;
}

.details-button:hover {
  background-color: var(--hover-blue);
  color: var(--basic-white);
}

.details-button:active {
  background-color: var(--active-blue);
  color: rgba(225,255,255,0.3);
}

.reservation-button {
  background-color: var(--link-brown);
  color: var(--basic-white);
  display: inline-block;
  width: 142px;
  height: 27px;
  cursor: pointer;
}

.reservation-button:hover{
  background-color: var(--hover-brown);
  color: var(--basic-white);
}

.reservation-button:active {
  background-color:var(--active-brown);
  color: rgba(255,255,255,0.3);
}

.hotel-rating {
  color: var(--rating-text-color);
  background-color: var(--form-link-gray);
  width: 110px;
  height: 27px;
  font-weight: 400;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.hotel-type,
.hotel-price {
  color: var(--basic-gray);
}

/* Main footer*/

.main-footer,
.inner-footer {
  padding: 36px 0;
  color: var(--basic-black);
  background-color:  rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
  min-height: 120px;
}

.footer-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.main-footer .container,
.inner-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

 .main-footer {
 margin-top: -100px;
 position: relative;
 z-index: 1;
}

.footer-flex {
  display: flex;
  align-items: center;
  margin:0;
  padding: 0;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 251px;
  font-size: 21px;
  text-align: center;
  padding-left: 111px;
  margin-right: 167px;
}

.footer-tag {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.footer-tel {
  padding: 0;
  margin: 0;
}

.footer-phone {
  width: 251px;
  margin-bottom: 36px;
  color: var(--basic-black);
}

.footer-social {
  text-align: center;
  background-color:var(--basic-white);
  opacity: 0.9;
  width: 150px;
  margin-right: 190px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 400;
  min-width: 197px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 138px;
  justify-self: center;
}

.copyright-element-1 {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  padding-top: 10px;
}

.footer-social ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

/* Social button*/

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.social-list li {
  margin-right: 6px;
}

.social-button {
  background-color: var(--basic-search-blue);
  color: var(--basic-white);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:link {
  background-color: var(--basic-search-blue);
  }

.social-button:hover {
  background-color: var(--hover-blue);
  }

.social-button:active path {
  background-color: var(--active-blue);
    fill:rgba(255, 255, 255, 0.3);
  }

.footer-copyright {
  color: inherit;
}

/* Modal */

.modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
  transform: translateX(315px) translateY(-85px);
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 568px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.modal-title-wrap {
  color: var(--basic-white);
  background-color: var(--link-brown);
  min-height: 86px;
}

.modal-title-wrap:hover {
  background-color: var(--hover-brown);
}

.modal-title-wrap:focus {
  background-color: var(--active-brown);
  color: rgba(255,255,255,0.3);
}

.hotel-search-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 29px;
}

.adults,
.kids {
  background-color: var(--form-link-gray);
  width: 114px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}

.minus-button,
.minus-button-2 {
  position: absolute;
  left: 5px;
  top: -8px;
  text-align: center;
  width: 12px;
  height: 3px;
  transform:scale(3);
  background: transparent;
  color: var(--plus-minus-brown);
}

.minus-button:hover,
.minus-button-2:hover,
.plus-button:hover,
.plus-button-2:hover {
  color: var(--basic-black);
}
.minus-button:active,
.minus-button-2:active,
.plus-button:active,
.plus-button-2:active {
  color: var(--basic-search-blue);
}

.plus-button,
.plus-button-2 {
  position:relative;
  top: -2px;
  right: 0;
  text-align: center;
  width: 11px;
  height: 11px;
  transform:scale(2);
  font-weight: 700;
  background:transparent;
  color: var(--plus-minus-brown);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 35px;
  margin-left: 35px;
  margin-right: 50px;
  margin-top: 10px;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  margin-left: 35px;
}

.adults input,
.kids input {
  display: inline-block;
  border:none;
  outline:none;
  width: 36px;
  height: 26px;
  background-color: var(--form-link-gray);
  text-align: center;
  padding-top: 3px;
  font-weight: inherit;
}

.adults-input,
.kids-input {
  display: inline-block;
}

.adults button,
.kids button {
  border: none;
  outline: none;
}

.label-1 {
  margin-right: 20px;
}
.label-2 {
  margin-right: 18px;
}

.label-3 {
  margin-right: 38px;
  display: inline-block;
}

.label-4 {
  margin-right: 26px;
  margin-left: 53px;
  display: inline-block;
}

.hotel-search-form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-left: 20px;
}

.search-button {
  display: block;
  width: 458px;
  text-align: center;
  height: 58px;
  margin-left: 35px;
  cursor: pointer;
}

.logo {
  background: url(../img/background-photo.jpg) no-repeat 0 0;
  top: -15px;
  position: relative;
  object-fit: contain;
}

.welcome-svg {
  text-align: center;
  padding: 80px 0 80px 0;
}

.zigzag {
  position: absolute;
  bottom: 10px;
  left: 0;
}

/* Map */

.map {
  width: 1199px;
  height: 594px;
  object-fit: contain;
}
.map img {
  display: block;
}




